#website-description{
    display: block;
    margin:200px;
    text-align: center;

}

:link:visited {
    color: white;
}

h1{
    background: rgb(46, 46, 46);
    border: 100px;
    font-size: 39px;
}